@model IEnumerable<ProyectoTurismo.Models.ModeloConsultas>
@{
    /**/

    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reporte de Sitio</h2>
@ViewBag.mensaje
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.sitioTuristico.nombre</td>
        </tr>
        }

    </tbody>
</table>